# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/
dist/

# Production
.env
.env.local
.env.production
.env.development

# Misc
.DS_Store
*.log
*.tsbuildinfo

# Vercel
.vercel/

# Turbopack
.turbo
